JWT_SECRET=clave-super-secreta-de-al-menos-32-caracteres
DB_URL=jdbc:postgresql://localhost:5432/hermnet_blind_db
DB_USERNAME=alvaro_admin
DB_PASSWORD=alvaro_admin
FIREBASE_SERVICE_ACCOUNT_PATH=src/main/resources/hermnet-6d85d-firebase-adminsdk-fbsvc-fdf1bb4af7.json
